/*  your css code here. If applicable */
body {
    margin: 0;
    padding: 0;
    background-color: #2f2f2f;
    font-family: Arial, Helvetica, sans-serif;
}

#animal-photos {
    width: 80%;
	height: 560px;
    margin: 0px auto;
	margin-bottom: 0px;
    padding: 20px;
    background-color: #3b3b3b;
    border-radius: 10px;
}

#photo-heading {
    text-align: center;
	color: white;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.gallery img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 0.3s ease;
}
